body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 55%;
  padding: 20px;
}

.order {
  width: 45%;
  padding: 20px;
  text-align: right;
  box-sizing: border-box;
}

.order table {
  width: 100%;
}

.order .work,
.order .name {
  padding: 8px;
  text-align: left;
  background-color: rgb(194, 190, 190);
  color: black;
}

.order .work {
  background-color: rgb(73, 72, 72);
  color: white;
}

.request {
  margin-top: 20px;
  width: 95%;
  padding: 20px;
  margin: 10px;
}

.request table {
  width: 100%;
}

.request .names {
  padding: 8px;
  text-align: left;
  background-color: rgb(153, 148, 148);
  color: black;
}

.request .num {
  padding: 8px;
  text-align: left;
  background-color: rgb(207, 200, 200);
  color: black;
}

.reports{
  margin-top: 20px;
  width: 95%;
  padding: 20px;
  margin: 10px;
}

.reports table{
  width: 100%;
}

.reports .names{
  background-color: rgb(73, 72, 72);
  color: white;
}